<h1>Scenarios in progress</h1>
    <ul>
        <% @scenarios.incomplete.each do |incomp| %>
            <li>
                <%= link_to incomp.title, game_scenario_path(incomp.game_id, incomp)%>
            </li>
        <% end %>
    </ul>