<% if error_variable.errors.any? %>
        <div id = "error_explanation">
            <h3>There are some errors</h3>
            <ul>
                <% error_variable.errors.full_messages.each do |mess| %>
                    <li><%= mess %></li>
                <% end %>
            </ul>
        </div>
    <% end %>