<h1>Welcome to ArkHorrorTrack</h1>

<%= link_to "Login", login_path %>
OR <%= link_to "Signup", signup_path %><br>
<%= button_to 'Login with Facebook', '/auth/facebook', {class: 'facebook_login'} %>

<%= button_to 'Log Out', logout_path, method: :post %>